MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster.mongodb.net/adega
JWT_SECRET=gere-uma-chave-aleatoria-com-mais-de-32-caracteres
SENHA_MASTER_HASH=cole-aqui-o-hash-bcrypt-da-senha-master
SOM_NOTIFICACAO_PEDIDO=classico
